# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/netbeansprojects/NewCalculaIdade/nbproject/private/
/netbeansprojects/NewCalculaIdade/build/
/netbeansprojects/Nivel01Exercicio3A/nbproject/private/
/netbeansprojects/Nivel01Exercicio3A/build/
/netbeansprojects/Nivel01Exercicio3B/nbproject/private/
/netbeansprojects/Nivel01Exercicio3B/build/
/netbeansprojects/Nivel01Exercicio3C/nbproject/private/
/netbeansprojects/Nivel01Exercicio3C/build/
/netbeansprojects/Nivel01Exercicio3D/nbproject/private/
/netbeansprojects/Nivel01Exercicio3D/build/
/netbeansprojects/Nivel01Exercicio3E/nbproject/private/
/netbeansprojects/Nivel01Exercicio3E/build/
/netbeansprojects/Nivel01Exercicio3F/nbproject/private/
/netbeansprojects/Nivel01Exercicio3F/build/
/netbeansprojects/ResultadoAdicaoSubtracao/nbproject/private/
/netbeansprojects/ResultadoAdicaoSubtracao/build/
/netbeansprojects/Nivel01Exercicios3H/nbproject/private/
/netbeansprojects/Nivel01Exercicios3H/build/
/netbeansprojects/Nivel01Exercicio3I/nbproject/private/
/netbeansprojects/Nivel01Exercicio3G/nbproject/private/
/netbeansprojects/Nivel01Exercicio3G/build/
/netbeansprojects/Nivel01Exercicio3I/build/
/netbeansprojects/Nivel01Exercicio3J/nbproject/private/
/netbeansprojects/Nivel01Exercicio3J/build/
/netbeansprojects/Nivel01Exercicio3K/nbproject/private/
/netbeansprojects/Nivel01Exercicio3K/build/
/netbeansprojects/Nível01Exercicio3L/nbproject/private/
/netbeansprojects/Nível01Exercicio3L/build/
/netbeansprojects/Nivel01Exercicio3M/nbproject/private/
/netbeansprojects/Nivel01Exercicio3M/build/
/netbeansprojects/Nivel01Exercicio3N/nbproject/private/
/netbeansprojects/Nivel01Exercicio3N/build/
/netbeansprojects/Nivel01Exercicio3O/nbproject/private/
/netbeansprojects/Nivel01Exercicio3P/nbproject/private/
/netbeansprojects/Nivel01Exercicio3O/build/
/netbeansprojects/Nivel01Exercicio3Q/nbproject/private/
/netbeansprojects/Nivel01Exercicio3R/nbproject/private/
/netbeansprojects/Nivel01Exercicio3S/nbproject/private/
/netbeansprojects/Nivel01Exercicio3T/nbproject/private/
/netbeansprojects/Nivel01Exercicio3U/nbproject/private/
/netbeansprojects/Nivel01Exercicio3W/nbproject/private/
/netbeansprojects/Nivel01Exercicio3Y/nbproject/private/
/netbeansprojects/Nivel01Exercicio3Z/nbproject/private/
/netbeansprojects/Nivel01Exercicio3X/nbproject/private/
/netbeansprojects/Nivel01Exercicio3P/build/
/netbeansprojects/Nivel01Exercicio3Q/build/
/netbeansprojects/Nivel01Exercicio3rr/nbproject/private/
/netbeansprojects/Nivel01Exercicio3S/build/
/netbeansprojects/Nivel01Exercicio3T/build/
/netbeansprojects/Nivel01Exercicio3U/build/
/netbeansprojects/Nivel01ExercicioV/nbproject/private/
/netbeansprojects/Nivel01ExercicioV/build/
/netbeansprojects/Nivel01Exercicio3Y/build/
/netbeansprojects/Nivel01Exercicio3Z/build/
/netbeansprojects/Nivel01Exercicio3rr/build/
/netbeansprojects/Nivel01Exercicio3/nbproject/private/
/netbeansprojects/Nivel01Exercicio3/build/
/netbeansprojects/Nivel02Exercicio3/build/
/netbeansprojects/Nivel02Exercicio3/nbproject/private/
/netbeansprojects/Nivel02Exercicio3A/nbproject/private/
/netbeansprojects/Nivel02Exercicio3A/build/
/netbeansprojects/Nivel02Exercicio3B/nbproject/private/
/netbeansprojects/Nivel02Exercicio3B/build/
/netbeansprojects/Nivel02Exercicio3C/nbproject/private/
/netbeansprojects/Nivel01Exercicio3R/build/
/netbeansprojects/Nivel02Exercicio3C/build/
/netbeansprojects/Nivel02Exercicio3D/nbproject/private/
/netbeansprojects/Nivel02Exercicio3E/nbproject/private/
/netbeansprojects/Nivel02Exercicio3F/nbproject/private/
/netbeansprojects/Nivel02Exercicio3G/nbproject/private/
/netbeansprojects/Nivel02Exercicio3H/nbproject/private/
/netbeansprojects/Nivel02Exercicio3I/nbproject/private/
/netbeansprojects/Nivel02Exercicio3J/nbproject/private/
/netbeansprojects/Nivel02Exercicio3K/nbproject/private/
/netbeansprojects/Nivel02Exercicio3L/nbproject/private/
/netbeansprojects/Nivel02Exercicio3M/nbproject/private/
/netbeansprojects/Nivel02Exercicio3N/nbproject/private/
/netbeansprojects/Nivel02Exercicio3O/nbproject/private/
/netbeansprojects/Nivel02Exercicio3D/build/
/netbeansprojects/Nivel02Exercicio3G/build/
/netbeansprojects/Nivel01Exercicio3X/build/
/netbeansprojects/Nivel02Exercicio3H/build/
/netbeansprojects/Nivel02Exercicio3I/build/
/netbeansprojects/Nivel02Exercicio3F/build/
/netbeansprojects/Nivel02Exercicio3E/build/
/netbeansprojects/Nivel02Exercicio3O/build/
/netbeansprojects/Nivel02Exercicio3L/build/
/netbeansprojects/Nivel02ExercicioI/nbproject/private/
/netbeansprojects/Nivel02ExercicioI/build/
/netbeansprojects/Nivel02Exercicio3J/build/
/netbeansprojects/Nivel02Exercicio3K/build/
/netbeansprojects/Nivel02Exercicio3N/build/
/netbeansprojects/Nivel02Exercicio3M/build/
/netbeansprojects/Nivel03Exercicio1A/nbproject/private/
/netbeansprojects/Nivel03Exercicio1A/build/
/netbeansprojects/Nivel03Exercicio1AB/nbproject/private/
/netbeansprojects/Nivel03Exercicio1CD/nbproject/private/
/netbeansprojects/Nivel03Exercicio1AB/build/
/netbeansprojects/Nivel03Exercicio1CD/build/
/netbeansprojects/Nivel03Exercicio1EF/nbproject/private/
/netbeansprojects/Nivel03Exercicio1EF/build/
/netbeansprojects/Nivel03Exercicio1GH/nbproject/private/
/netbeansprojects/Nivel03Exercicio1GH/build/
/netbeansprojects/Nivel03ExercicioIJ/nbproject/private/
/netbeansprojects/Nivel03Exerciciokl/nbproject/private/
/netbeansprojects/Nivel03ExercicioMN/nbproject/private/
/netbeansprojects/Nivel03ExercicioOP/nbproject/private/
/netbeansprojects/Nivel03ExercicioQRS/nbproject/private/
/netbeansprojects/Nivel03ExercicioIJ/build/
/netbeansprojects/Nivel03ExercicioMN/build/
/netbeansprojects/Nivel03Exerciciokl/build/
/netbeansprojects/Nivel03ExercicioOP/build/
/netbeansprojects/Nivel03ExercicioQRS/build/
/netbeansprojects/Nivel03ExercicioQR/nbproject/private/
/netbeansprojects/Nivel03ExercicioST/build/
/netbeansprojects/ExercicioOperadorModulo/build/
/netbeansprojects/Nivel03ExercicioQR/build/
/netbeansprojects/Nivel04Exercicio1A/nbproject/private/
/netbeansprojects/Nivel04Exercicio1B/nbproject/private/
/netbeansprojects/Nivel04Exercicio1C/nbproject/private/
/netbeansprojects/Nivel04Exercicio1D/nbproject/private/
/netbeansprojects/Nivel04Exercicio1E/nbproject/private/
/netbeansprojects/Nivel04Exercicio1F/nbproject/private/
/netbeansprojects/Nivel04Exercicio1G/nbproject/private/
/netbeansprojects/Nivel04Exercicio1H/nbproject/private/
/netbeansprojects/Nivel04Exercicio1I/nbproject/private/
/netbeansprojects/Nivel04Exercicio1J/nbproject/private/
/netbeansprojects/Nivel04Exercicio1K/nbproject/private/
/netbeansprojects/Nivel04Exercicio1L/nbproject/private/
/netbeansprojects/Nivel04Exercicio1M/nbproject/private/
/netbeansprojects/Nivel04Exercicio1N/nbproject/private/
/netbeansprojects/Nivel04Exercicio1O/nbproject/private/
/netbeansprojects/Nivel04Exercicio1P/nbproject/private/
/netbeansprojects/Nivel04Exercicio1Q/nbproject/private/
/netbeansprojects/Nivel04Exercicio1R/nbproject/private/
/netbeansprojects/Nivel04Exercicio1S/nbproject/private/
/netbeansprojects/Nivel04Exercicio1T/nbproject/private/
/netbeansprojects/Nivel04Exercicio1U/nbproject/private/
/netbeansprojects/Nivel04Exercicio1V/nbproject/private/
/netbeansprojects/Nivel04Exercicio1W/nbproject/private/
/netbeansprojects/Nivel04Exercicio1Y/nbproject/private/
/netbeansprojects/Nivel04Exercicio1Z/nbproject/private/
/netbeansprojects/Nivel04Exercicio1X/nbproject/private/
/netbeansprojects/TesteArrayString/build/
/netbeansprojects/TesteArrayString/nbproject/private/
/netbeansprojects/Nivel04Exercicio1A/build/
/netbeansprojects/Nivel04Exercicio1B/build/
/netbeansprojects/Nivel04Exercicio1C/build/
/netbeansprojects/Nivel04Exercicio1D/build/
/netbeansprojects/Nivel04Exercicio1F/build/
/netbeansprojects/Nivel04Exercicio1G/build/
/netbeansprojects/Nivel04Exercicio1H/build/
/netbeansprojects/Nivel04Exercicio1I/build/
/netbeansprojects/Nivel04Exercicio1J/build/
/netbeansprojects/Nivel04Exercicio1K/build/
/netbeansprojects/Nivel04Exercicio1Q/build/
/netbeansprojects/Nivel04Exercicio1R/build/
/netbeansprojects/Nivel04Exercicio1S/build/
/netbeansprojects/Nivel04Exercicio1T/build/
/netbeansprojects/Nivel04Exercicio1V/build/
/netbeansprojects/Nivel04Exercicio1W/build/
/netbeansprojects/Nivel04Exercicio1Y/build/
/netbeansprojects/Nivel04Exercicio1E/build/
